<div class="py-3">

  <div>
    <form
      [formGroup]="atividadeForm"
      (submit)="onSubmit()"
      class="bg-formulario p-3 m-3"
    >
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-3">
          <div class="mb-3">
            <label for="titulo">Título <span class="text-danger">*</span></label>
            <input
              formControlName="titulo"
              type="text"
              name="titulo"
              id="titulo"
              class="form-control"
            >
          </div>
          <div class="mb-3">
            <div>
              <label>Status <span class="text-danger">*</span></label>
            </div>
            <p-dropdown
              formControlName="status"
              id="status"
              [options]="status"
              styleClass="w-100"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-3">
          <div class="mb-3">
            <label for="descricao">Descrição<span class="text-danger"> *</span></label>
            <textarea
              formControlName="descricao"
              name="descricao"
              id="descricao"
              class="form-control"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div class="mb-3">
            <div>
              <label>Data de inicio <span class="text-danger">*</span></label>
            </div>
            <p-calendar
              formControlName="dataInicio"
              [style]="{'width': '100%'}"
            >
            </p-calendar>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div class="mb-3">
            <div>
              <label>Data de termino <span class="text-danger">*</span></label>
            </div>
            <p-calendar
              formControlName="dataFim"
              [style]="{'width': '100%'}"
            >

            </p-calendar>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div class="mb-3">
            <div>
              <label>Setor <span class="text-danger">*</span></label>
            </div>
            <p-dropdown
              formControlName="setor"
              id="setor"
              [options]="setores"
              optionLabel="nome"
              styleClass="w-100"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-3">
          <div class="mb-3">
            <div>
              <label>Produto <span class="text-danger">*</span></label>
            </div>
            <p-dropdown
              formControlName="produto"
              id="produto"
              [options]="produtos"
              optionLabel="nome"
              styleClass="w-100"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <p><b>Responsáveis:</b></p>
          <p-dropdown
            id="produto"
            formControlName="responsavel"
            [options]="responsaveis"
            optionLabel="nome"
            styleClass="w-100"
          >
          </p-dropdown>
          <div
            *ngIf="atividadeForm.value['responsaveis'].length > 0"
            class="mb-3 table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Remover</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let responsavel of atividadeForm.value['responsaveis']">
                    <td>{{responsavel.nome}}</td>
                    <td>{{responsavel.email}}</td>
                    <td>
                      <button
                        pButton
                        type="button"
                        icon="pi pi-check"
                        class="ui-button-success mr-1"
                    ></button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mt-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-light mr-1"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-success"
          >
            Salvar
          </button>
        </div>
      </div>

    </form>
</div>
