<div class="bg">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <h4 class="text-light">Gestor de Qualidade</h4>
        </div>
        <div class="ui-toolbar-group-right">
            <button
                *ngIf="!isAutenticated"
                pButton
                pTooltip="Entrar"
                type="button"
                icon="pi pi-sign-in"
                class="ui-button-primary mr-1"
                routerLink="/home/login"
            >
            </button>
            <button
                *ngIf="isAutenticated"
                pButton
                pTooltip="Sair"
                type="button"
                icon="pi pi-sign-out"
                class="ui-button-primary mr-1"
                (click)="logout()"
            >
            </button>
        </div>
    </p-toolbar>
    
    <p-menubar [model]="items"></p-menubar>
    <router-outlet></router-outlet>

</div>
